tmp/
cache/
downloads/
sstate-cache/
/yocto/poky/contrib
/yocto/poky/meta
/yocto/poky/meta-openembedded
/yocto/poky/meta-poky
/yocto/poky/meta-python2
/yocto/poky/meta-qt5
/yocto/poky/meta-raspberrypi
/yocto/poky/meta-selftest
/yocto/poky/meta-skeleton
/yocto/poky/meta-yocto-bsp
/yocto/poky/meta-openembedded-core
/yocto/poky/meta-scripts
