[Unit]
Description = vsomeip startup script

[Service]
ExecStart = /usr/bin/example/vsomeip-example/CANService

[Install]
WantedBy = multi-user.target
