#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Download file from http/ftp server to target image
# download --dest=[file://dir/filename|/dir/filename] --src=[http url| ftp url]

# Shutdown after installation
shutdown
# Use text mode install
text
# Use CDROM installation media
cdrom
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vdb
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Root password: 123456
rootpw --iscrypted $6$3x7c9k9.soqESiSR$C2N7BumARWNRjXgsZOhIm6lA7lo2tNf4gYvNOwAt5sy3hXcu8Ha0P.4TiuWlR15oWsO.db2hcyo6OhoDhCUTJ1
# System services
services --enabled="lvm2-monitor.service"
# System timezone
timezone America/New_York --isUtc
# yocto 1234567
user --groups=wheel --name=yocto --password=$6$Cy.BxhDQnohtocIc$oZzHOnIL9p5e8uIJO3T9hDc7BBOrUhOQHiJeSflr9MkXUIWKKHwKtYJH6ctAn/giKq1vCOH7Q3abdcB0FJ8qq1 --iscrypted --gecos="yocto"
# System bootloader configuration
bootloader --location=mbr --boot-drive=vdb
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=vdb

